<app-loader *ngIf="isDataLoading"></app-loader>

<mat-card *ngIf="error === ''">
    <mat-table [dataSource]="users" class="mat-elevation-z2">

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <button mat-icon-button (click)="editUser(user._id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> שם משתמש </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="passwordStrength">
            <mat-header-cell *matHeaderCellDef> סיסמא חזקה </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.passwordStrength}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> מייל </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> טלפון </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> תפקיד </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <button *ngIf="user.role !== 'admin'" mat-icon-button (click)="confirmAction(user._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>

<div class="error-message">
    <p *ngIf="error">{{ error }}</p>
</div>