<ng-container *ngIf="recipe">
    <mat-card class="recipe-card">
        <mat-card-header>
            <mat-card-title>{{ recipe.name }}</mat-card-title>
            <mat-card-subtitle>{{ recipe.category.name }}</mat-card-subtitle>
            <mat-card-subtitle>⏱ {{ recipe.time | duration }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>{{ recipe.description }}</p>

            <p><strong>דרגת קושי: </strong> <span *appRepeat="recipe.difficulty">*</span></p>
            <p><strong>תאריך: </strong> {{ recipe.date | date:'dd/MM/yyyy HH:mm' }}</p>

            <mat-divider class="divider"></mat-divider>

            <h3>מרכיבים</h3>

            <div *ngFor="let layer of recipe.layers; let last = last" [class.with-divider]="!last">
                <div class="layer-row">
                    <div class="layer-cell">{{ layer.ingredients }}</div>
                    <div class="layer-cell">{{ layer.description }}</div>
                </div>
                <div *ngIf="!last" class="small-divider-container">
                    <mat-divider class="small-divider"></mat-divider>
                </div>
            </div>

            <mat-divider class="divider"></mat-divider>

            <h3>הוראות הכנה</h3>
            <div *ngFor="let instruction of recipe.instructions; let i = index">
                <b>{{ i + 1 }}.</b>
                <p class="instruction">{{ instruction }}</p>
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="recipeUserId === recipe.user._id" align="end">
            <div *ngIf="recipeUserId === recipe.user._id" class="recipe-actions">
                <button mat-raised-button color="primary" class="full-width" (click)="update()">עריכה</button>
                <button mat-raised-button color="warn" class="full-width" (click)="confirmAction()">מחיקה</button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-container>