<app-loader *ngIf="isDataLoading"></app-loader>

<ng-container *ngIf="recipe">
    <mat-card class="recipe-card">
        <mat-card-title>{{ recipe.name }}</mat-card-title>
        <mat-card-subtitle class="meta-label">{{ recipe.category.name }}</mat-card-subtitle>
        <mat-card-subtitle class="meta-label">{{ recipe.type }}</mat-card-subtitle>
        <p class="description">{{ recipe.description }}</p>

        <mat-card-content>
            <div class="info-block">
                <div class="meta-row">
                    <span><strong>הועלה על ידי:</strong> {{ recipe.user.username }}</span>
                    <span><strong>שינוי אחרון:</strong> {{ recipe.date | date:'dd/MM/yyyy HH:mm' }}</span>
                </div>
                <div class="meta-row meta-small">
                    <span><strong>דרגת קושי:</strong> <span *appRepeat="recipe.difficulty">*</span></span>
                    <span><strong>⏱</strong>{{ recipe.time | duration }}</span>
                </div>

                <div *ngIf="recipe.methods && recipe.methods.length > 0" class="methods-section">
                    <div *ngFor="let method of recipe.methods" class="method-item">
                        <span class="method-checkmark">✓</span>
                        <span class="method-text">{{ method }}</span>
                    </div>
                </div>

            </div>

            <h3>מרכיבים</h3>

            <div *ngFor="let layer of recipe.layers; let last = last">
                <div class="layer-row" [ngClass]="{ 'single-column': !layer.description }">
                    <div class="layer-cell ingredients-cell">{{ layer.ingredients }}</div>
                    <div *ngIf="layer.description" class="layer-cell description-cell">{{ layer.description }}</div>
                </div>
            </div>

            <h3>הוראות הכנה</h3>
            <div *ngFor="let instruction of recipe.instructions; let i = index" class="instruction-row">
                <span class="instruction-number">{{ i + 1 }}</span>
                <p class="instruction">{{ instruction }}</p>
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="recipeUserId === recipe.user._id" align="end">
            <div *ngIf="recipeUserId === recipe.user._id" class="recipe-actions">
                <button mat-raised-button color="primary" class="full-width" (click)="update()">עריכה</button>
                <button mat-raised-button color="warn" class="full-width" (click)="confirmAction()">מחיקה</button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-container>