<form class="update-details-form" (ngSubmit)="updateDetails()">

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>שם משתמש</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>סיסמא</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password"
            (input)="checkPasswordStrength(password)" />
        <mat-hint *ngIf="!passwordIsStrong && password.length > 0" style="color: red;">
            ⚠️ הסיסמה אינה חזקה. מומלץ לכלול לפחות 8 תווים, אות גדולה, קטנה, מספר ותו מיוחד.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>מייל</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>טלפון</mat-label>
        <input matInput type="text" [(ngModel)]="phone" name="phone" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="full-width">עדכון</button>

    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
</form>